/*
	Largura e altura dos três elementos anteriores estilizadas.
	Bordas definidas usando cor, espessura, e style. Arredondadas 
	e com sombra.
*/
img {
  height: 200px;
  width: 200px;
  border: 5px solid #ff0000;
  border-radius: 100%;
  box-shadow: 3px 3px 3px 3px rgba(255, 0, 0, 0.5);
}

p {
  border: 5px solid #aaa;
  /* Transformar um elemento nível de bloco em inline. */
  display: inline;
	/* 
		Penúltimo elemento afastado do que está acima em 30px, 
		e da margem esquerda da página em 50px.
	*/
  margin-left: 50px;
}

/*
	Preenchimento direto desses objetos com 50px.
	Margens superior e inferior desses objetos com 150px.
*/
img, p {
  padding: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.img2 {
  /*Transformar um elemento inline em nível de bloco;*/
  display: block;
	/*
		Declaração abreviada para ACRESCENTAR padding de 20px
		somente ao último elemento (20px + 50px = 70px).
	*/
  padding: 70px;
}
