/* Inserindo fontes remotas: google fonts; O navegador busca na url definida */
@import url('https://fonts.googleapis.com/css?family=Butcherman');

h1 {
  /* Na aplicação de uma mesma fonte já definida em CSS interno (no .html),
  o navegador renderizará de acordo com a aparição dos códigos de cima para 
  baixo (em ordem sequencial) */
  font-family: 'Butcherman', cursive; 
}

/* Utilizando as Classes no modelo específico:
atributo.classe{
  /* Exmeplo de efeito em cascata: propriedade que propaga-se para todos 
  filhos do elemento:
  font-family: 'Butcherman', cursive; 
} 

Utilizando as Classes no modelo geral: */
.butcherman {
  font-family: 'Butcherman', cursive;
}

/* Utilizando atributo ID */
#fontchanged {
  font-size: 19px;
  font-style: italic;
}
