/*Propriedades iguais para elementos diferentes;*/
header, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Propriedades diferentes para elementos iguais;*/
#head1{
    color: #555;
}

#head2{
    color: #0000ff;
}

/*Borda e fundo para todos os elementos;*/
header, p, h2{
    border: 2px solid #555;
    background-color: #c2c25c;
}

/*Apenas um parágrafo com:
. Largura de 400px;
. Altura equivalente a 20% da página;
. Afastamento de 20px do conteúdo em relação às bordas;
. Cor da borda direita azul e da borda esquerda vermelha;
. Espessura da borda direita de 2px e da borda esquerda de 5px;
. Estilo da borda esquerda solid e da borda direita insert;
. Afastamento do elemento anterior a ele na página igual a 50px 
    (margem superior);*/
p.changed{
    height: 400px;
    padding: 20px;
    border-right: 2px inset #0000ff;
    border-left: 5px solid #ff0000;
    padding-top: 50px;
}