/* Global */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  border-bottom: 2px dashed #b2b2b2;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Específico */
table {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: auto;
  border: 3px solid blue;
  margin-top: 20px;
  border-spacing: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Linhas Internas */
td,
th {
  border: 3px dotted #000;
  padding: 20px;
}

.centered {
  text-align: center;
}

/* Cabeçalhos de Tabela */
th {
  background-color: #b2b2b2;
}

/* Imagem de Fundo de Célula */
#photoed {
  background-image: url('./sublime.jpg');
  background-size: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
