@import url('https://fonts.googleapis.com/css?family=Codystar');

/*Atributos Gerais*/
body {
  font-size: 120%;
  margin: 0;
}

/*Título e Descrição (head da página)*/
header {
  background-color: #c7c7c7;
}

h2,
p {
  text-align: center;
  text-transform: capitalize;
}

h2 {
  border-bottom: 2px solid #636363;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
  border-bottom: 1px dashed #636363;
}

/*Atributos Específicos*/
table {
  font-family: 'Codystar', cursive;
  font-weight: bold;
  border: 1px solid #636363;
  width: 80%;
  margin: auto;
  height: 450px;
  box-shadow: 0 5px 3px rgba(99, 99, 99, 0.5);
  /*Zerar espaço entre as bordas internas*/
  border-spacing: 0;
}

caption {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

td,
th {
  /*Bordas das Células*/
  border: 1px solid #636363;
}

th {
  background-color: #c7c7c7;
}

td {
  padding-left: 15px;
}

#centered {
  text-align: center;
}

#righted {
  text-align: right;
  padding-right: 15px;
  background-color: #c7c7c7;
}
