/* Global */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  border-bottom: 3px groove #b2b2b2;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

table {
  text-align: center;
  width: 96%;
  margin-left: 10px;
  border: 1px solid #fff;
  border-radius: 0.5%;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.493);
}

div {
  background-color: green;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* Especifico */
caption {
  text-align: right;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 3px;
}

th {
  background-color: #1f330b;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2%;
}

td {
  background-color: #65a327;
  color: #1f330b;
  border: 1px solid #fff;
  border-radius: 2%;
}

td,
th {
  padding: 10px;
}
