body {
  background-color: #add8e6;
  background-image: url('./img/jam.jpg');
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
}

h4 {
  background-color: transparent;
  color: #fff;
}

.left {
  float: left;
  background-color: #60ca65;
  width: 50%;
}

.right {
  float: right;
  background-color: #60caa7;
  width: 50%;
}

p {
  background-color: #90ee90;
  display: inline;
}

.changed {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #004900;
}

#list1 {
  background-color: blue;
  color: #fff;
}

#list2 {
  background-color: #ad0000;
  color: #fff;
}