/*Uma imagem à direita do parágrafo;
  Borda direita da imagem afastada da página em 10px;*/
img {
  float: right;
  width: 400px;
  height: auto;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

/*Alinhamento justificado para o elemento textual;
  Borda esquerda do texto afastada da página em 20px;*/
p {
  text-align: justify;
  margin: 0;
  padding-left: 20px;
}

body {
  margin: 0;
  padding: 0;
}

/*Texto e Imagem afastados da borda superior da página em 40px;*/
img,
p {
  padding-top: 40px;
}
