/*Arquivo principal para estilização dos principais elementos;
  Comentário no arquivo de estilo;*/

/*Mude o tipo de fonte de todo o documento para Calibri tamanho 2em;*/
  body{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

/*Parágrafo com tamanho de fonte 120% e cor azul;*/
p{
    font-size: 120%;
    color: #0000ff;
}

/*Parágrafo diferente com fonte vermelha (utilizando ID);*/
#par2{
    color: #ff0000;
}

/*Link estilizado (estilo de fonte oblíqua);*/
a{
    font-style: oblique;
}

/*Borda marrom ao redor de todos os cabeçalhos (espessura de 5px - utilizando CLASSE);*/
header{
    border: 5px solid #743623;
    text-decoration: line-through;
}

/*Borda marrom em um segundo cabeçalho (espessura de 10px - utilizando ID);
  Um cabeçalho deverá apresentar texto marcado com linha na horizontal;*/
#master{
    border-width: 10px;
    text-decoration: none;
}

/*Uma das listas deverá ser centralizada na página;*/
.a{
    text-align: center;
}

/*Borda ao redor da última lista do documento;*/
.b{
    border: 2px solid #ff0000;
}

/*5% de margem inferior para todos os objetos;*/
header, p, a, ul, ol{
    margin-bottom: 5%;
}

/*Defina margem superior de um dos links em 80px (utilizando CLASSE);*/
.link1{
    margin-top: 80px;
}

/*Define margem esquerda de um segundo link em 3em (utilizando CLASSE);*/
.link2{
    margin-left: 3em;
}