@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz';
}

h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  background: #2f4e6f;
  color: #fff;
  margin-bottom: 20px;
  position: sticky; /*posicionamento que fica no meio-termo entre fixed e scroll*/
  top: 0px;
}

label.alinha {
  display: inline-block;
  width: 300px;
  text-align: right;
  margin-bottom: 5px;
}

input.maior {
  width: 350px;
}

select,
input {
  font-family: 'Yanone Kaffeesatz';
}

fieldset {
  width: 50%;
  margin: 25px auto;
  padding: 15px 20px;
  background: #f5f5f5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 18px;
  font-weight: bold;
}

button.centra {
  display: block;
  margin: 20px auto;
}

div.botoes {
  text-align: center;
}

p {
  border: 1px solid #ccc;
  background: #eee;
  width: 48%;
  padding: 30px;
  margin: 30px auto;
}

table {
  width: 50%;
  border: 1px solid #555;
  background: #eee;
  border-collapse: collapse;
  margin: 30px auto;
}

caption {
  text-align: center;
  margin-bottom: 5px;
  font-style: italic;
}

th {
  background: #ccc;
}

td,
th {
  border: 1px solid #555;
}

td {
  padding-left: 10px;
}

td.centra {
  text-align: center;
}
